<div class="login-page">
    <div class="left-section">
        <h1>PHARMACARE</h1>
    </div>
    <div class="right-section">
        <form>
            <select name="dropdown" id="dropdown">
                <option value="Admin">Admin</option>
                <option value="Customer">Customer</option>
                <option value="Pharmacist">Pharmacist</option>
            </select>
            <label for="email">Email</label>
            <input type="text" id="email" placeholder="email">
            <label for="password">Password</label>
            <input type="text" id="password" placeholder="password">
            <p>You don't have an account <b (click)="navigateToRegister()">register</b></p>
            <button>Login</button>
        </form>
    </div>
</div>
