/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:host {
    display: block;
    height: 100%;
    font-family: Arial, sans-serif;
}

.login-page {
    display: flex;
    height: 100vh;
}

.left-section, .right-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-section {
    background-color: #007bf0;
    color: white;
    text-align: center;
}

.right-section {
    background-color: #f4f4f4;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    max-width: 400px;
    margin: auto;
}

select, input, button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bf0;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #007bf0;
}

b {
    color: #007bf0;
    cursor: pointer;
}

/* Responsive Design */
@media (max-width: 768px) {
    .login-page {
        flex-direction: column;
    }

    .left-section, .right-section {
        flex: none;
        width: 100%;
    }

    .left-section {
        height: 50%;
    }

    .right-section {
        height: 50%;
    }
}
