<div class="register">
    <form action="">
        <select name="user" id="user">
            <option value="Admin">Admin</option>
            <option value="Customer">Customer</option>
            <option value="Pharmacist">Pharmacist</option>
        </select>
        <label for="">Email</label>
        <input type="text" placeholder="email">
        <label for="">Password</label>
        <input type="text" placeholder="password">
        <label for="">Confirm Password</label>
        <input type="text" placeholder="confirm password">
        <button>Register</button>
    </form>
</div>
