<div class="pharmacist">
    <div class="navbar">
        <div class="profile-icon">
            <i class="fas fa-user-circle"></i>
            <i class="fas fa-plus-circle add-icon"></i>
        </div>
        <div class="settings-icon">
            <i class="fas fa-cog"></i>
        </div>
    </div>
    <div class="pharmacist-dashboard">
        <div class="card card1" (click)="navigateToProduct()">Products</div>
        <div class="card card2">Request Products</div>
        <div class="card card3">Delivery Services</div>
        <div class="card card4">Appointments</div>
        <div class="card card5">Live Charts</div>
        <div class="card card6">Reports</div>
        <div class="card card7">Order Notifications</div>
    </div>
</div>
